/**
 *
 *	Define fonts
 *
 */

@font-face {
	font-family: 'HelveticaNeueCyrBlack';
	src: url('/fonts/helveticaneuecyr-black.eot');
	src: url('/fonts/helveticaneuecyr-black.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-black.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-black.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-black.svg#HelveticaNeueCyrBlack') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrBlackItalic';
	src: url('/fonts/helveticaneuecyr-blackitalic.eot');
	src: url('/fonts/helveticaneuecyr-blackitalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-blackitalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-blackitalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-blackitalic.svg#HelveticaNeueCyrBlackItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('/fonts/helveticaneuecyr-bold.eot');
	src: url('/fonts/helveticaneuecyr-bold.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-bold.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-bold.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-bold.svg#HelveticaNeueCyrBold') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrBoldItalic';
	src: url('/fonts/helveticaneuecyr-bolditalic.eot');
	src: url('/fonts/helveticaneuecyr-bolditalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-bolditalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-bolditalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-bolditalic.svg#HelveticaNeueCyrBoldItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrHeavy';
	src: url('/fonts/helveticaneuecyr-heavy.eot');
	src: url('/fonts/helveticaneuecyr-heavy.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-heavy.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-heavy.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-heavy.svg#HelveticaNeueCyrHeavy') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrHeavyItalic';
	src: url('/fonts/helveticaneuecyr-heavyitalic.eot');
	src: url('/fonts/helveticaneuecyr-heavyitalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-heavyitalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-heavyitalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-heavyitalic.svg#HelveticaNeueCyrHeavyItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrItalic';
	src: url('/fonts/helveticaneuecyr-italic.eot');
	src: url('/fonts/helveticaneuecyr-italic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-italic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-italic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-italic.svg#HelveticaNeueCyrItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrLight';
	src: url('/fonts/helveticaneuecyr-light.eot');
	src: url('/fonts/helveticaneuecyr-light.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-light.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-light.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-light.svg#HelveticaNeueCyrLight') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrLightItalic';
	src: url('/fonts/helveticaneuecyr-lightitalic.eot');
	src: url('/fonts/helveticaneuecyr-lightitalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-lightitalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-lightitalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-lightitalic.svg#HelveticaNeueCyrLightItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrMedium';
	src: url('/fonts/helveticaneuecyr-medium.eot');
	src: url('/fonts/helveticaneuecyr-medium.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-medium.woff') format('woff'),
	url('/fonts/helveticaneuecyr-medium.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-medium.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrMediumItalic';
	src: url('/fonts/helveticaneuecyr-mediumitaicl.eot');
	src: url('/fonts/helveticaneuecyr-mediumitaicl.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-mediumitaicl.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-mediumitaicl.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-mediumitaicl.svg#HelveticaNeueCyrMediumItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrRoman';
	src: url('/fonts/helveticaneuecyr-roman.eot');
	src: url('/fonts/helveticaneuecyr-roman.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-roman.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-roman.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-roman.svg#HelveticaNeueCyrRoman') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrThin';
	src: url('/fonts/helveticaneuecyr-thin.eot');
	src: url('/fonts/helveticaneuecyr-thin.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-thin.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-thin.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-thin.svg#HelveticaNeueCyrThin') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrThinItalic';
	src: url('/fonts/helveticaneuecyr-thinitalic.eot');
	src: url('/fonts/helveticaneuecyr-thinitalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-thinitalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-thinitalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-thinitalic.svg#HelveticaNeueCyrThinItalic') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrUltraLight';
	src: url('/fonts/helveticaneuecyr-ultralight.eot');
	src: url('/fonts/helveticaneuecyr-ultralight.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-ultralight.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-ultralight.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-ultralight.svg#HelveticaNeueCyrUltraLight') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrUltraLightItalic';
	src: url('/fonts/helveticaneuecyr-ultralightitalic.eot');
	src: url('/fonts/helveticaneuecyr-ultralightitalic.eot') format('embedded-opentype'),
	url('/fonts/helveticaneuecyr-ultralightitalic.otf') format('opentype'),
	url('/fonts/helveticaneuecyr-ultralightitalic.ttf') format('truetype'),
	url('/fonts/helveticaneuecyr-ultralightitalic.svg#HelveticaNeueCyrUltraLightItalic') format('svg');
}
