/**
 *
 *	Home page style
 *
 */

#side-menu {
	position: fixed;
	top: 50%;
	left: 20px;
	z-index: 1000;
	width: 25px;
	height: 150px;
	margin-top: -75px;
}
#side-menu .bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	z-index: -1;
	background-color: #ebebeb;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-border-radius: 13.5px;
	-moz-border-radius: 13.5px;
	-ms-border-radius: 13.5px;
	-o-border-radius: 13.5px;
	border-radius: 13.5px;
	border: 1px solid #e2e2e2;
}
#side-menu ul {
	list-style: none;
	margin: 0 1px;
	height: 100%;
	width: 23px;
}
#side-menu ul:hover li .hint {
	left: 35px;
}
#side-menu ul li {
	width: 100%;
	height: 16.666666666666668%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #f5f5f5;
	cursor: pointer;
	background: url(/img/sprites.png) -85px -27px no-repeat;
}
#side-menu ul li:first-child {
	border-top: none;
}
#side-menu ul li:last-child {
	border-bottom: none;
}
#side-menu ul li.home {
	background-position: -67px -25px;
}
#side-menu ul li.home:hover {
	background-position: -67px -48px;
}
#side-menu ul li .hint {
	position: absolute;
	padding: 0 14px;
	height: 19px;
	line-height: 19px;
	left: -10000px;
	color: white;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	-webkit-border-radius: 10.5px;
	-moz-border-radius: 10.5px;
	-ms-border-radius: 10.5px;
	-o-border-radius: 10.5px;
	border-radius: 10.5px;
}
#side-menu ul li.web:hover,
#side-menu ul li.web.active {
	background-position: -85px -50px;
}
#side-menu ul li.web .hint {
	background: #dd382b;
}
#side-menu ul li.mobile:hover,
#side-menu ul li.mobile.active {
	background-position: -103px -50px;
}
#side-menu ul li.mobile .hint {
	background: #794280;
}
#side-menu ul li.smm:hover,
#side-menu ul li.smm.active {
	background-position: -157px -50px;
}
#side-menu ul li.smm .hint {
	background: #0088cf;
}
#side-menu ul li.seo:hover,
#side-menu ul li.seo.active {
	background-position: -139px -50px;
}
#side-menu ul li.seo .hint {
	background: #f7931e;
}
#side-menu ul li.video:hover,
#side-menu ul li.video.active {
	background-position: -121px -50px;
}
#side-menu ul li.video .hint {
	background: #39b54a;
}
/*
.mobile-os .scroll-section {
	background-image: none !important;
}
.mobile-os .form-bg {
	background-image: none !important;
}
.mobile-os .sub-footer-toddler {
	background-image: none !important;
}*/
#main{
	display: none;
}
.logo-wrap{
	float: left;
	margin: 10px 0 0 30px;
}
.phone-wrap{
	float: left;
	margin: 27px 0 0 385px;
}
.full-height{
	overflow: hidden;
}
.full-height > div{
	width: 900px;
	margin: 0 auto;
}
.full-height p{
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	line-height: 20px;
}
.full-height li{
	line-height: 20px;
}
.full-height h1{
	margin: 0;
	font-family: 'HelveticaNeueCyrUltraLight', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 98px;
}
.full-height hr{
	margin: 0;
}
.content-box.inner-full-height{
	display: table-cell;
	vertical-align: middle;
}
.inner-full-height{
	min-height: 600px !important;
}

.content-main .bubbles {
	position: relative;
	float: left;
	height: 510px;
	width: 462px;
	margin: -30px 26px 50px -30px;
	z-index: 1;
}
.content-main .bubbles .bubble-bounce {
	float: left;
}
.content-main .bubbles .bubble-bounce .circle {
	margin-top: -10000px;
	display: block;
	position: relative;
}
.content-main .bubbles .bubble-bounce .circle:before {
	content: "";
	position: absolute;
	width: 1px;
	bottom: 100%;
	left: 50%;
	top: -10000px;
	margin-bottom: -1px;
}
.content-main .bubbles .bubble-bounce .circle .title {
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	height: 1em;
	margin-top: -0.5em;
	width: 100%;
}
.content-main .bubbles .bubble-bounce.web {
	height: 534px;
	margin-top: -267px;
	margin-left: 0;
}
.content-main .bubbles .bubble-bounce.web .circle {
	display: block;
	background: url(/img/sprites.png) 0 -221px no-repeat;
	height: 187px;
	width: 187px;
}
.content-main .bubbles .bubble-bounce.web .circle:before {
	background: #e9c0bd;
}
.content-main .bubbles .bubble-bounce.web .title {
	font-size: 75px;
	line-height: 75px;
}
.content-main .bubbles .bubble-bounce.mobile {
	height: 746px;
	margin-top: -373px;
	margin-left: -250px;
}
.content-main .bubbles .bubble-bounce.mobile .circle {
	display: block;
	background: url(/img/sprites.png) 0 -569px no-repeat;
	height: 144px;
	width: 144px;
}
.content-main .bubbles .bubble-bounce.mobile .circle:before {
	background: #d0c2d1;
}
.content-main .bubbles .bubble-bounce.mobile .title {
	font-size: 34px;
	line-height: 34px;
}
.content-main .bubbles .bubble-bounce.smm {
	height: 954px;
	margin-top: -477px;
	margin-left: -14px;
}
.content-main .bubbles .bubble-bounce.smm .circle {
	display: block;
	background: url(/img/sprites.png) 0 -842px no-repeat;
	height: 86px;
	width: 86px;
}
.content-main .bubbles .bubble-bounce.smm .circle:before {
	background: #b2d4e5;
}
.content-main .bubbles .bubble-bounce.smm .title {
	font-size: 30px;
	line-height: 30px;
}
.content-main .bubbles .bubble-bounce.seo {
	height: 914px;
	margin-top: -457px;
	margin-left: 21px;
}
.content-main .bubbles .bubble-bounce.seo .circle {
	display: block;
	background: url(/img/sprites.png) 0 -718px no-repeat;
	height: 119px;
	width: 119px;
}
.content-main .bubbles .bubble-bounce.seo .circle:before {
	background: #f0d6b9;
}
.content-main .bubbles .bubble-bounce.seo .title {
	font-size: 40px;
	line-height: 40px;
}
.content-main .bubbles .bubble-bounce.video {
	height: 644px;
	margin-top: -322px;
	margin-left: -89px;
}
.content-main .bubbles .bubble-bounce.video .circle {
	display: block;
	background: url(/img/sprites.png) 0 -413px no-repeat;
	height: 151px;
	width: 151px;
}
.content-main .bubbles .bubble-bounce.video .circle:before {
	background: #cbeacf;
}
.content-main .bubbles .bubble-bounce.video .title {
	font-size: 48px;
	line-height: 48px;
}
.content-main .bubbles .bubble-fade {
	position: absolute;
	z-index: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.content-main .bubbles .bubble-fade.web {
	background: #dd382b;
}
.content-main .bubbles .bubble-fade.mobile {
	background: #794280;
}
.content-main .bubbles .bubble-fade.smm {
	background: #0088cf;
}
.content-main .bubbles .bubble-fade.seo {
	background: #f7931e;
}
.content-main .bubbles .bubble-fade.video {
	background: #39b54a;
}
.main-info{
	float: left;
	width: 400px;
	margin: 80px 0 0 40px;
	font-size: 16px;
}
.main-info h1{
	margin-bottom: 20px;
	font-size: 50px;
	line-height: 46px;
	font-family: 'HelveticaNeueCyrThin', Helvetica, Arial, sans-serif;
}
.main-info h4{
	font-size: 22px;
	margin: 0;
}
.dl-present{
	height: 58px;
	margin-top: 60px;
	padding-left: 100px;
	background: url(/img/sprites.png) -91px -842px no-repeat;
}
.dl-present a{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid;
	font-size: 21px;
}
.dl-present p{
	height: 32px;
	margin: 0;
	font-family: 'HelveticaNeueCyrThin', Helvetica, Arial, sans-serif;
	font-size: 32px;
	line-height: 32px;
	vertical-align: bottom;
}
.main-expo{
	height: 80px;
	position: relative;
}
.full-height .our-service{
	position: absolute;
	left: 25px;
	bottom: 15px;
	vertical-align: bottom;
	height: 60px;
	line-height: 60px;
	font-size: 60px;
	color: #656565;
	margin: 0;
}
.expand-toddler{
	float: right;
	margin: 40px 25px 0 0;
	text-decoration: underline;
	font-size: 16px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.expand-toddler:hover{
	text-decoration: none;
}
.content-services-wrap{
	display: none;
}
.content-services .main-expo-wrap{
	display: none;
}
.content-services-wrap .content-box li{
	color: #656565;
}
.content-services-wrap .our-services-list-index li{
	line-height: 42px;
}
.services{
	padding: 30px 0;
}
.our-services-list-index {
	float: left;
	min-width: 385px;
	margin: 0 0 0 25px;
}
.our-services-list-description{
	float: left;
	margin: 10px 0 0 115px;
}
.our-services-list-index li{
	font-size: 32px;
	line-height: 42px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.our-services-list-index li.active span{
	font-family: 'HelveticaNeueCyrBold', Helvetica, Arial, sans-serif;
	border-bottom: 2px solid #656565;
}
.our-services-list-description li {
	display: none;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	line-height: 20px;
}
.our-services-list-description li.active {
	display: block;
}
.content-web-wrap{
	background: #D5332B url(/img/HL_pattern_test_red.png) repeat center;

}
.content-box li, .content-box p{
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #FFF;
}
.right-side{
	float: left;
	margin: 70px 0 0 20px;
}
.content-web .right-side{
	width: 403px;
	height: 389px;
	background: url(/img/happyweb.png) no-repeat 0 0;
}
.content-box{
	font-size: 15px;
	width: 900px;
}
.content-box h1{
	color: #FFF;
	margin-bottom: 30px;
}
.left-side{
	float: left;
	margin: 0 0 0 25px;
	width: 450px;
}
.custom-scrollbar{
	height: 300px;
	margin-right: 20px;
	overflow: hidden;
}
.options-wrap{
	margin: 100px 0 0 0;
}
.portfolio-btn, .actors-btn, .demo-btn, .service-btn{
	position: relative;
	display: inline-block;
	padding: 4px 0 0 35px;
	margin-left: 25px;
	font-size: 17px;
	line-height: 22px;
	text-decoration: underline;
	color: #FFF;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.portfolio-btn:hover, .actors-btn:hover, .demo-btn:hover, .service-btn:hover{
	text-decoration: none;
}
.portfolio-btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 26px;
	background: url(/img/sprites.png) no-repeat -30px 0;
	overflow: hidden;
}
.actors-btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 26px;
	background: url(/img/sprites.png) no-repeat 0 0;
	overflow: hidden;
}
.demo-btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 26px;
	background: url(/img/sprites.png) no-repeat -60px 0;
	overflow: hidden;
}
.service-btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 26px;
	background: url(/img/sprites.png) no-repeat -90px 0;
	overflow: hidden;
}
.content-mobile-wrap{
	background: #954F9F url(/img/HL_pattern_test_violet.png) repeat center;
}
.content-mobile .right-side{
	width: 446px;
	height: 446px;
	margin: 45px 0 -70px -22px;
	background: url(/img/happymobile.png) no-repeat 0 0;
	background-size: 446px;
}
.content-video-wrap{
	background: #00AE3C url(/img/HL_pattern_test_green.png) repeat center;
}
.content-video .right-side{
	width: 403px;
	height: 538px;
	margin: 0 -60px -100px 0;
	background: url(/img/happy_video_images.png) no-repeat -100px 20px;
}
.content-seo-wrap{
	background: #F8AC16 url(/img/HL_pattern_test_orange.png) repeat center;
}
.content-seo .right-side{
	width: 446px;
	height: 446px;
	margin: 20px 0 -70px -22px;
	background: url(/img/happyseo.png) no-repeat -40px;
}
.content-smm-wrap{
	background: #0081B3 url(/img/HL_pattern_test_blue.png) repeat center;
}
.content-smm .right-side{
	width: 434px;
	height: 446px;
	margin: 20px 0 -70px -10px;
	background: url(/img/happysmm.png) no-repeat center;
}
.content-ask-form-wrap{
	width: 100%;
}
.content-ask-form{
	width: 100% !important;
	background-color: #EDEDED;
}
.slogan-wrap{
	width: 900px;
	margin: 0 auto;
}
.form-bg{
	width: 100% !important;
	background: #68CAC8 url(/img/HL_pattern_test_green_HL.png) repeat center;
}
.content-form{
	width: 900px;
	margin: 0 auto;
}
.slogan-wrap h1{
	display: inline-block;
	height: 85px;
	line-height: 85px;
	vertical-align: middle;
	padding: 10px 20px 10px 0;
	margin: 0;
	font-family: 'HelveticaNeueCyrUltraLight', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 75px;
	color: #34b4ac;
}
.slogan-wrap .slogan{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
}
.content-form{
	color: #FFF;
	height: 380px;
}
.content-form h2{
	margin: 0;
	padding: 40px 0 30px;
	font-size: 35px;
	font-weight: normal;
}
.content-form input[type="text"]{
	height: 30px;
	width: 300px;
	margin-bottom: 12px;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
label[for="service"]{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 13px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.form-left-side{
	float: left;
}
.form-right-side{
	float: left;
	margin-left: 60px;
}
#purpose{
	resize: none;
	height: 56px;
	padding: 0;
	overflow: hidden;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.dl-file{
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	color: #4d4d4f;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	background: url(/img/dl_btn.png) no-repeat 0 0;
	cursor: pointer;
}
.dl-file:hover{
	background: url(/img/dl_btn.png) no-repeat 0 -32px;
}
.dl-label{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 13px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.form-bg .required-text{
	margin-top: 3px;
}
.form-bg span.required{
	font-size: 13px;
}
.submit-wrap{
	padding: 40px 0 30px;
}
.submit-wrap input{
	display: block;
	width: 172px;
	height: 43px;
	margin: 0 auto;
	line-height: 41px;
	text-align: center;
	color: #000;
	font-size: 19px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	background: url(/img/send_btn.png) no-repeat 0 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.submit-wrap input:hover{
	background: url(/img/send_btn.png) no-repeat 0 -43px;
}

/**
 *
 *	Projects styles
 *
 */

#projects{
	display: none;
}
#p-web{
	background-color: #C12E26;
}
#p-mobile{
	background-color: #6A3971;
}
#p-video{
	background-color: #309F41;
}
#p-seo{
	background-color: #EB8D1C;
}
#p-smm{
	background-color: #0072AE;
}
#projects > div{
	display: none;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.content-wrap{
	position: relative;
	z-index: 2;
}
.nav-wrap{
	position: fixed;
	width: 100%;
	top: 118px;
	left: 26px;
	z-index: 10;
}
.nav-btns{
	position: relative;
	width: 900px;
	margin: 0 auto;
}
.prev-p{
	position: absolute;
	top: 100px;
	left: -60px;
	width: 40px;
	height: 40px;
	background: url(/img/sprites.png) -156px -413px no-repeat;
	z-index: 1000;
}
.next-p{
	position: absolute;
	top: 100px;
	right: -20px;
	width: 40px;
	height: 40px;
	background: url(/img/sprites.png) -201px -413px no-repeat;
	z-index: 1000;
}
.close_but_anchor{
	float: right;
	margin-right: -20px;
}
.close_but{
	background: url(/img/sprites.png) no-repeat scroll -194px -569px rgba(0, 0, 0, 0);
	border: medium none;
	cursor: pointer;
	height: 40px;
	margin: 0 0 0 auto;
	width: 40px;
	opacity: 0.6;
}
.close_but:hover{
	background: url(/img/sprites.png) no-repeat scroll -149px -569px rgba(0, 0, 0, 0);
}
.slide-wrap{
	position: relative;
	overflow: hidden;
}
.project-item{
	float: left;
}
.bg{
	background: url(/img/page_project_bg_70percent_transp.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0.9);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.project-block h1{
	font-size: 35px;
	font-weight: normal;
	padding: 30px 0 20px;
	margin: 0 0 0 20px;
	color: #FFF;
}
.site-url{
	margin: 30px 0 20px 100px;
}
.site-url a{
	font-size: 15px;
	color: #FFF;
	text-decoration: underline;
}
.project-block h4{
	font-size: 17px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #FFF;
}
.project-block p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	color: #FFF;
}
.p-slide-item img{
	width: 900px;
}
.p-description{
	margin: 0 0 40px 20px;
}
.p-left{
	float: left;
	width: 385px;
	margin-right: 30px;
}
.p-right{
	float: left;
	width: 435px;
}
.p-right p{
	margin-bottom: 2px;
}
.p-right p span{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
}
.p-right .follow-us{
	margin-top: 25px;
}
.p-right .fb{
	background-position: 0 -1953px;
}
.p-right .twitter{
	background-position: -30px -1953px;
}
.p-right .youtube {
	background-position: -60px -1953px;
}
.p-right .vk{
	background-position: -90px -1953px;
}
.ad-block-wrap{
	position: relative;
	width: 100%;
	background-color: #FFF;
	z-index: 2;
}
.ad-block{
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}
.ad-paper-wrap, .ad-present-wrap{
	float: left;
	text-align: center;
}
.ad-pic{
	display: table-cell;
	height: 250px;
	width: 430px;
	vertical-align: middle;
}
.ad-text{
	font-size: 25px;
	font-weight: normal;
	color: #0078bf;
	cursor: pointer;
}

.feedback-box {
	padding: 20px 0 30px;
	margin-left: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	width: 897.0015999999999px;
	transition: all 0.1s linear;
	color: #FFF;
	overflow: hidden;
}
.feedback-box h2{
	font-size: 25px;
	font-weight: normal;
}
.pers-info-wrap{
	float: left;
}
.pers-info{
	height: 142px;
}
.photo{
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}
.data{
	display: inline-block;
	vertical-align: bottom;
}
.client-name{
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;
}
.client-position, .client-company{
	font-size: 13px;
	font-family: 'HelveticaNeueCyr-ThinItalic', Helvetica, Arial, sans-serif;
}
.description{
	font-size: 15px;
	margin: 0 30px 20px 320px;
}
.feedback-btn{
	text-align: center;
}
.feedback-btn a{
	font-size: 15px;
	text-decoration: underline;
	color: #FFF;
}
#happymobile-portfolio.portfolio-container .portfolio h2{
	color: #6A3971;
}
#happymobile-portfolio.portfolio-container .portfolio .slider .navigation .prev{
	background: url(/img/arrows.png) no-repeat 0 0;
}
#happymobile-portfolio.portfolio-container .portfolio .slider .navigation .next{
	background: url(/img/arrows.png) no-repeat -29px 0;
}
#happymobile-portfolio.portfolio-container .portfolio .slider .slider-pager a.activeSlide{
	background: url(/img/marker.png) no-repeat 0 0;
}
#happyvideo-portfolio.portfolio-container .portfolio h2{
	color: #309F41;
}
#happyvideo-portfolio.portfolio-container .portfolio .slider .navigation .prev{
	background: url(/img/arrows.png) no-repeat 0 -56px;
}
#happyvideo-portfolio.portfolio-container .portfolio .slider .navigation .next{
	background: url(/img/arrows.png) no-repeat -29px -56px;
}
#happyvideo-portfolio.portfolio-container .portfolio .slider .slider-pager a.activeSlide{
	background: url(/img/marker.png) no-repeat -20px 0;
}
#happyseo-portfolio.portfolio-container .portfolio h2{
	color: #EB8D1C;
}
#happyseo-portfolio.portfolio-container .portfolio .slider .navigation .prev{
	background: url(/img/arrows.png) no-repeat 0 -112px;
}
#happyseo-portfolio.portfolio-container .portfolio .slider .navigation .next{
	background: url(/img/arrows.png) no-repeat -29px -112px;
}
#happyseo-portfolio.portfolio-container .portfolio .slider .slider-pager a.activeSlide{
	background: url(/img/marker.png) no-repeat -40px 0;
}
#happysmm-portfolio.portfolio-container .portfolio h2{
	color: #0072AE;
}
#happysmm-portfolio.portfolio-container .portfolio .slider .navigation .prev{
	background: url(/img/arrows.png) no-repeat 0 -168px;
}
#happysmm-portfolio.portfolio-container .portfolio .slider .navigation .next{
	background: url(/img/arrows.png) no-repeat -29px -168px;
}
#happysmm-portfolio.portfolio-container .portfolio .slider .slider-pager a.activeSlide{
	background: url(/img/marker.png) no-repeat -60px 0;
}

/**
 *
 *	Actors page styles
 *
 */


#actors{
	display: none;
}
.actors-sub-menu-wrap{
	width: 100%;
	padding: 50px 0 30px;
	text-align: center;
}
.actors-sub-menu-wrap li{
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	text-align: center;
}
.actors-sub-menu-wrap li a{
	line-height: 18px;
	font-size: 18px;
	color: #393838;
	font-weight: normal;
	text-transform: none;
}
.actors-sub-menu-wrap li.selected a{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.actors-sub-menu-wrap li a:hover{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.content-wrap{
	position: relative;
}
#actors .close_but, #demo .close_but {
	background: url(/img/sprites.png) no-repeat scroll -149px -569px rgba(0, 0, 0, 0);
}
.actors-sub-menu-wrap{
	width: 100%;
	padding: 50px 0 30px;
	text-align: center;
}
.actors-sub-menu-wrap li{
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	text-align: center;
}
.actors-sub-menu-wrap li a{
	line-height: 24px;
	font-size: 24px;
	color: #393838;
	font-weight: normal;
}
.actors-sub-menu-wrap li.active a{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.actors-sub-menu-wrap li a:hover{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.actors-block h1{
	font-size: 35px;
	font-weight: normal;
	margin: 30px 0 20px;
}
.actors-block p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
}

.actors .element {
	float: left;
	margin: 15px;
	position: relative;
	z-index: 2;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.element .img{
	width: 270px;
	height: 270px;
	border-bottom: 1px solid #656565;
	overflow: hidden;
}
.element:hover .actor-name{
	opacity: 1;
}
.element .actor-name{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	padding: 5px 0;
	text-align: center;
	background-color: #34b4ac;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.element .actor-name span{
	font-size: 15px;
	line-height: 20px;
	color: #FFF;
}

/**
 *
 *	Demo page styles
 *
 */


#demo{
	display: none;
}
.demo-block{
	min-height: 550px;
	padding-right: 350px;
	background: url(/img/demo.png) no-repeat 700px 60px;
}
.demo-block h1{
	font-size: 35px;
	font-weight: normal;
	padding: 30px 0 20px;
	margin: 0;
	color: #000;
}
.demo-block p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #000;
}
.demo-block .medium{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
}
.demo-block form{
	margin: 0 0 30px;
}
.demo-block form input[type="text"]{
	display: inline-block;
	vertical-align: top;
	width: 380px;
	min-height: 41px;
	margin-right: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	font-size: 15px;
	color: #000;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.demo-block form input[type="submit"]{
	display: inline-block;
	vertical-align: top;
	width: 127px;
	height: 43px;
	text-align: center;
	color: #FFF;
	font-size: 19px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	background: url(/img/demo_btn.png) no-repeat 0 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.demo-block form input[type="submit"]:hover{
	background-position: 0 -43px;
}