/**
 *
 *	Common styles
 *
 */

html, body{
	margin: 0;
	color: #656565;
	font-family: 'HelveticaNeueCyr-Thin', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: url(/img/body_bg.png) repeat 0 0;
}
a{
	color: #656565;
	text-decoration: none;
	border: none;
}
img{
	border: none;
	outline: none;
}
a:active, a:focus, a:hover{
	text-decoration: none;
	outline: none;
}
input:focus, input:hover{
	outline: none;
	border: none;
}
ol, ul, li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ol li{
	list-style-position: inside;
	list-style-type: decimal;
}
p{
	margin: 0;
}
hr{
	margin: 10px 0;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #FFF;
	border-left: none;
	border-right: none;
}
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.input-text, input[type="text"], input[type="email"], input[type="password"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
	width: 100%;
	padding: 0 10px;
	min-height: 20px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.clearfix{
	clear: both;
	width: 100%;
	height: 0px;
}
.container{
	position: relative;
	width: 100%;
	min-width: 900px;
}
.header{
	position: fixed;
	top: 0;
	left: auto;
	width: 100%;
	-webkit-box-shadow: 0 0 40px #555;
	-moz-box-shadow: 0 0 40px #555555;
	-ms-box-shadow: 0 0 40px #555555;
	-o-box-shadow: 0 0 40px #555555;
	box-shadow: 0 0 40px #555;
	z-index: 100;
}
.h-top-wrap{
	width: 100%;
	height: 79px;
	background: url(/img/header_bg.png) repeat-x 0 0;
}
.h-top{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.logo-wrap{
	float: left;
	margin-top: 10px;
}
.phone-wrap{
	float: left;
	margin: 25px 0 0 415px;
}
.phone-wrap a{
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	font-size: 22px;
}
.callback-wrap{
	float: left;
	margin: 26px 0 0 30px;
}
.callback-btn{
	width: 109px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	font-size: 11px;
	text-shadow: 0 0 3px #329996;
	color: #FFF;
	background: url(/img/btn-new.png) no-repeat 0 0;
	cursor: pointer;
}
.callback-btn:hover{
	 background: url(/img/btn-new.png) no-repeat -108px 0;
}
.h-menu-wrap{
	width: 100%;
	height: 36px;
	padding: 1px 0;
	background-color: #51BFC1;
}
.h-menu{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.main-menu{
	float: right;
}
.main-menu li{
	float: left;
	background: url(/img/header_menu_limiter.png) no-repeat left center;
}
.main-menu li.selected{
	background: #349C9D;
	border-left: 1px solid #267172;
	border-right: 1px solid #63F5F5;
	background-image: none;
}
.main-menu li a{
	display: block;
	height: 36px;
	padding: 0 30px;
	line-height: 36px;
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #FFF;
}
.main-menu li a:hover{
	text-decoration: underline;
}

.content{
	width: 100%;
	padding-top: 120px;
}
.content-wrap{
	width: 900px;
	margin: 0 auto;
}

.footer{
	width: 100%;
	min-width: 900px;
	padding-top: 25px;
	height: 101px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/img/sprites.png) 0 -2476px repeat-x;
	-webkit-box-shadow: 0 1px 10px 2px #808080 inset;
	-moz-box-shadow: 0 1px 10px 2px #808080 inset;
	-ms-box-shadow: 0 1px 10px 2px #808080 inset;
	-o-box-shadow: 0 1px 10px 2px #808080 inset;
	box-shadow: 0 1px 10px 2px #808080 inset;
}
.f-top{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.login-wrap{
	float: left;
}
.login-wrap p{
	font-family: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 5px;
}
.login-wrap input{
	display: inline-block;
	vertical-align: top;
	width: 134px;
	margin-right: 5px;
	font-size: 13px;
	font-family: 'HelveticaNeueCyr-LightItalic', Helvetica, Arial, sans-serif;
	color: #4d4d4f;
}
.login-wrap input.login-btn{
	height: 23px;
	width: 62px;
	line-height: 21px;
	color: #FFF;
	font-style: normal;
	text-align: center;
	font-style: normal;
	text-shadow: inset 1px 1px 2px #ccc;
	background: url(/img/btn-new.png) 0 -24px no-repeat;
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
.login-wrap input.login-btn:hover{
	background: url(/img/btn-new.png) -62px -24px no-repeat;
}
.contacts-wrap{
	float: left;
	margin: 0 30px;
	color: #555;
	font-size: 15px;
}
.contacts-wrap .phone{
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyr-Roman', Helvetica, Arial, sans-serif;
}
.contacts-wrap .mail{
	font-family: 'HelveticaNeueCyr-Roman', Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
.follow-us-wrap{
	float: left;
}
.vacancy{
	display: block;
	color: #2DB9B4;
	text-decoration: underline;
	font-size: 15px;
	white-space: nowrap;
	margin-bottom: 2px;
}
.follow-us{
	margin-top: 5px;
}
.follow-us a{
	float: left;
	display: block;
	width: 25px;
	height: 25px;
	margin-left: 10px;
	background: url(/img/sprites.png) 0 -1923px no-repeat;
}
.follow-us a:first-child {
	margin-left: 2px;
}
a.fb {
	background-position: 0 -1923px;
}
a.twitter {
	background-position: -30px -1923px;
}
a.youtube {
	background-position: -60px -1923px;
}
a.vk {
	background-position: -90px -1923px;
}
.search-wrap{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}
.search-wrap input{
	width: 120px;
	margin-bottom: 5px;
}
.search-wrap input.search-btn{
	height: 23px;
	width: 62px;
	line-height: 21px;
	margin-left: 5px;
	color: #FFF;
	font-style: normal;
	text-align: center;
	font-style: normal;
	text-shadow: inset 1px 1px 2px #ccc;
	background: url(/img/btn-new.png) 0 -24px no-repeat;
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
.search-wrap input.search-btn:hover{
	background: url(/img/btn-new.png) -62px -24px no-repeat;
}
.copyright{
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	font-size: 11px;
}
.sub-footer-toddler{
	width: 100%;
	min-width: 900px;
	background: url(/img/background_contact.jpg) repeat 0 0;
	text-align: center;
	padding: 11px 0;
	height: 12px;
	margin-top: 16px;
}
.t-pointer{
	display: block;
	height: 12px;
	width: 24px;
	text-align: center;
	text-shadow: 0 0 3px #329996;
	margin: 0 auto;
	cursor: pointer;
}
.t-pointer{
	background: url(/img/arrows_sprite.png) no-repeat 0 -12px;
}
.t-pointer.up{
	background: url(/img/arrows_sprite.png) no-repeat 0 0;
}
.sub-footer-wrap{
	display: none;
	width: 100%;
	min-width: 900px;
	background-color: #EEE;
	box-shadow: #000 0px 4px 15px 0px;
	overflow: hidden;
}
.sub-footer{
	width: 900px;
	margin: 20px auto;
	text-align: center;
}
.f-col{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	text-align: left;
}
.f-col:first-child{
	margin-left: 60px;
}

/*Custom scrollbar*/
.mCSB_container {
	width: auto;
	margin-right: 30px;
	overflow: hidden;
}
.mCSB_container.mCS_no_scrollbar {
	margin-right: 0;
}
.mCustomScrollBox {
	-ms-touch-action: none;
	/*MSPointer events - direct all pointer events to js*/
}
.mCustomScrollBox > .mCSB_scrollTools {
	width: 10px;
	height: 100%;
	top: 0;
	right: 0;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/css/css3pie/PIE.htc);
	background: #7e1e1a;
	/* rgba fallback */

	background: rgba(126, 30, 26, 0.2);
	filter: "alpha(opacity=20)";
	-ms-filter: "alpha(opacity=20)";
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/css/css3pie/PIE.htc);
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
}

/*Custom textarea scroll*/
.cs-container {
	position: relative;
	border-right: none;
	overflow: visible;
}
.cs-container textarea {
	border: none;
	position: absolute;
	height: 100%;
	width: 100%;
	outline: none;
}
.cs-container .cs-scrollbar {
	width: 17px;
	height: 100%;
	position: relative;
	float: right;
	background: white;
}
.cs-container .cs-scrollbar a {
	display: block;
}
.cs-container .cs-scrollbar .top,
.cs-container .cs-scrollbar .down {
	display: none;
}
.cs-container .cs-scrollbar .cs-slider {
	margin: 0;
	width: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	background: #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 10;
}
.cs-container .cs-scrollbar .bar {
	height: 30%;
	min-height: 16px;
	background: #898989;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	-moz-user-select: none;
}
.custom-select-box-container {
	margin-bottom: 10px;
	height: 30px;
}
.custom-select-box-container .sbHolder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior: url(/css/css3pie/PIE.htc);
	-webkit-box-shadow: inset 1px 1px 5px #b6b6b6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #b6b6b6;
	background: white;
	width: 100%;
	padding: 0 10px;
	min-height: 30px;
	padding: 5px 10px;
}
.custom-select-box-container .sbHolder .sbOptions {
	background: white;
}


/*Custom select*/

.sbHolder{
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 200px;
	padding: 0 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
	height: 30px;
	line-height: 30px;
	color: #4d4d4f;
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
}
.sbHolder.opened{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.sbToggle{
	position: absolute;
	right: 10px;
	top: 9px;
	width: 8px;
	height: 13px;
	background: url(/img/select_toggle.png) no-repeat 0 0;
}
.sbSelector{
	display: block;
}
.sbOptions{
	position: absolute;
	top: 30px;
	left: 0;
	width: 200px;
	padding: 5px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
}

/*required*/

.required{
	position: relative;
}
.required:before{
	content: '';
	position: absolute;
	top: 0;
	left: -7px;
	width: 7px;
	height: 6px;
	background: url(/img/asterisk.png) no-repeat 0 0;
}

[class*="span"] {
	float: left;
	min-height: 1px;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.row-fluid .span6 {
	width: 24.25000119999808%;
}
.portfolio img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*portfolio*/

.slider{
	position:relative;
}
.slider .slides .slide {
	overflow:hidden;
	width: 100%;
	display: none;
}
.slider .slides .slide:first-child {
	display: block;
}
.navigation {
	position: absolute;
	top: 250px;
	width: 100%;
}
.navigation .prev,
.navigation .next {
	position: absolute;
}
.navigation .prev.prev,
.navigation .next.prev {
	left: 15%;
}
.navigation .prev.next,
.navigation .next.next {
	right: 15%;
}
.slider .slider-pager {
	position: absolute;
	text-align: center;
	width: 100%;
}
.slider .slider-pager a {
	font-size: 0;
	display: inline-block;
}
.container .p-container{
	width: 900px;
	margin: 0 auto;
}
.top-shadow{
	position: absolute;
	top: -16px;
	right: 0;
	left: 0;
	height: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 40px #333;
	-moz-box-shadow: 0 0 40px #333333;
	box-shadow: 0 0 40px #333;
}
.container .portfolio-container {
	display: none;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #FFF url(/img/body_bg.png) repeat 0 0;
}
.container .portfolio-container .portfolio {
	padding: 0 40px 90px;
}
.container .portfolio-container .portfolio h2 {
	font-size: 62px;
	font-weight: normal;
	font-family: 'HelveticaNeueCyr-UltraLight', Helvetica, Arial, sans-serif;
	color: #D94037;
	margin-bottom: 25px;
}
.container .portfolio-container .portfolio .slider {
	height: 365px;
}
.container .portfolio-container .portfolio .slider .slides {
	height: 100%;
}
.container .portfolio-container .portfolio .slider .slides .slide .row-fluid:first-child {
	margin-bottom: 40px;
}
.container .portfolio-container .portfolio .slider .navigation {
	display: none;
	top: 154.5px;
	height: 56px;
}
.container .portfolio-container .portfolio .slider .navigation .prev,
.container .portfolio-container .portfolio .slider .navigation .next {
	background: url(/img/sprites.png) -156px -458px no-repeat;
	width: 29px;
	height: 56px;
}
.container .portfolio-container .portfolio .slider .navigation .prev.prev,
.container .portfolio-container .portfolio .slider .navigation .next.prev {
	left: -40px;
}
.container .portfolio-container .portfolio .slider .navigation .prev.next,
.container .portfolio-container .portfolio .slider .navigation .next.next {
	right: -40px;
	background-position: -190px -458px;
}
.container .portfolio-container .portfolio .slider .slider-pager {
	bottom: -50px;
}
.container .portfolio-container .portfolio .slider .slider-pager a {
	height: 20px;
	width: 20px;
	margin: 0 3px;
	background: url(/img/sprites.png) -156px -519px no-repeat;
}
.container .portfolio-container .portfolio .slider .slider-pager a.activeSlide {
	background-position: -181px -519px;
}

.portfolio-element {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	background: url(/img/sprites.png) no-repeat;
	border-radius:80px;
	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
	overflow:hidden;
}
.portfolio-element img{
	border-radius:80px;
	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
}
.portfolio-element.web {
	background-position: 0 -933px;
}
.portfolio-element.video {
	background-position: 0 -1098px;
}
.portfolio-element.mobile {
	background-position: 0 -1263px;
}
.portfolio-element.smm {
	background-position: 0 -1428px;
}
.portfolio-element.seo {
	background-position: 0 -1593px;
}
.portfolio-element.design {
	background-position: 0 -1593px;
}
.portfolio-element .mask {
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(/img/sprites.png) 0 -1758px no-repeat;
}
.portfolio-element img {
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio-element .title-container {
	display: table;
	height: 100%;
}
.portfolio-element .title-container .title {
	vertical-align: middle;
	display: table-cell;
	width: 160px;
	text-align: center;
	font-size: 17px;
	color: #FFF;
}

/*textarea*/


.textarea-wrap{
	width: 500px;
	margin: 15px 0;
	padding: 5px 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-box-shadow: #B6B6B6 1px 1px 5px inset;
	box-shadow: #B6B6B6 1px 1px 5px inset;
	background-color: #FFF;
}

.required-text{
	text-align: right;
	height: 32px;
	line-height: 30px;
	margin-top: 5px;
}


/*popup*/

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	min-width: 900px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(/img/overlay_bg.png) repeat 0 0;
	z-index: 200;
}
.popup-wrap{
	display: none;
	position: fixed;
	top: 150px;
	left: 0;
	width: 100%;
	z-index: 300;
}
.popup{
	width: 660px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -moz-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -ms-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -o-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	-webkit-box-shadow: 0px 0px 30px 0px #000;
	-moz-box-shadow: 0px 0px 30px 0px #000;
	-ms-box-shadow: 0px 0px 30px 0px #000;
	-o-box-shadow: 0px 0px 30px 0px #000;
	box-shadow: 0px 0px 30px 0px #000;
}
.popup form{
	padding: 40px 60px;
}
.popup h3{
	font-size: 35px;
	font-weight: normal;
	color: #33B3AB;
	text-align: center;
	margin: 0 0 40px;
}
.popup .required:before{
	background-image: url(/img/asterisk_g.png);
}
.popup input[type="text"]{
	height: 30px;
	padding: 0 15px;
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-LightItalic', Helvetica, Arial, sans-serif;
	color: #4C4C4E;
}
.popup textarea{
	height: 56px;
	padding: 0;
	resize: none;
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-LightItalic', Helvetica, Arial, sans-serif;
	color: #4C4C4E;
}
.popup .textarea-wrap{
	margin: 0;
	width: auto;
}
.popup .required-text{
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-ThinItalic', Helvetica, Arial, sans-serif;
}
.popup .submit-btn-wrap{
	text-align: center;
}
.popup .submit-btn-wrap input{
	background: url(/img/sprites.png) no-repeat 0 -31px;
	margin-top: 10px;
	background-position: 15px -3465px;
	height: 48px;
	width: 171px;
	line-height: 41px;
	font-size: 17px;
	font-family: 'HelveticaNeueCyr-Light', Helvetica, Arial, sans-serif;
	color: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.popup .submit-btn-wrap input:hover{
	background-position: 15px -3515px;
}