/**
 *
 *	Common styles
 *
 */

html, body{
	margin: 0;
	color: #656565;
	font-family: 'HelveticaNeueCyrThin', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: url(/img/body_bg.png) repeat 0 0;
	-webkit-font-smoothing: antialiased;
}
a{
	color: #656565;
	text-decoration: none;
	border: none;
	-webkit-font-smoothing: antialiased;
}
img{
	border: none;
	outline: none;
}
a:active, a:focus, a:hover{
	text-decoration: none;
	outline: none;
}
input:focus, input:hover{
	outline: none;
	border: none;
}
[placeholder]{
	color: #4d4d4f;
}
::-webkit-input-placeholder {
	color: #4d4d4f;
}
:-moz-placeholder {
	color: #4d4d4f;
}
::-moz-placeholder {
	color: #4d4d4f;
}
:-ms-placeholder {
	color: #4d4d4f;
}
h1, h2, h3, h4{
	-webkit-font-smoothing: antialiased;
}
ol, ul, li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
}
ol li{
	list-style-position: inside;
	list-style-type: decimal;
}
p{
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
hr{
	margin: 10px 0;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #FFF;
	border-left: none;
	border-right: none;
}
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.input-text, input[type="text"], input[type="email"], input[type="password"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
	width: 100%;
	padding: 0 15px;
	min-height: 20px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.clearfix{
	clear: both;
	width: 100%;
	height: 0px;
}
.container{
	position: relative;
	width: 100%;
	min-width: 900px;
}
.header{
	position: fixed;
	top: 0;
	left: auto;
	width: 100%;
	-webkit-box-shadow: 0 0 40px #555;
	-moz-box-shadow: 0 0 40px #555555;
	-ms-box-shadow: 0 0 40px #555555;
	-o-box-shadow: 0 0 40px #555555;
	box-shadow: 0 0 40px #555;
	z-index: 100;
}
.h-top-wrap{
	width: 100%;
	height: 80px;
	background: url(/img/header_bg.png) repeat-x 0 0;
}
.h-top{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.logo-wrap{
	float: left;
	margin: 10px 0 0;
}
.phone-wrap{
	float: left;
	margin: 25px 0 0 415px;
}
.phone-wrap a{
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	font-size: 22px;
}
.callback-wrap{
	float: right;
	margin: 26px 0 0 30px;
}
.callback-btn{
	width: 109px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	font-size: 11px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	text-shadow: 0 0 3px #329996;
	color: #FFF;
	background: url(/img/btn-new.png) no-repeat 0 0;
	cursor: pointer;
}
.callback-btn:hover{
	 background: url(/img/btn-new.png) no-repeat -108px 0;
}
.h-menu-wrap{
	width: 100%;
	height: 36px;
	padding: 1px 0;
	background-color: #51BFC1;
}
.h-menu{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.main-menu{
	float: right;
	background: url(/img/header_menu_limiter.png) no-repeat right center;
}
.main-menu li{
	float: left;
	background: url(/img/header_menu_limiter.png) no-repeat left center;
}
.main-menu li.selected{
	background: #349C9D;
	border-left: 1px solid #267172;
	border-right: 1px solid #63F5F5;
	background-image: none;
}
.main-menu li a{
	display: block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #FFF;
}
.main-menu li a:hover{
	text-decoration: underline;
}

.content{
	width: 100%;
	padding-top: 120px;
}
.content-wrap{
	width: 900px;
	margin: 0 auto;
}

.footer{
	position: relative;
	z-index: 2;
	width: 100%;
	min-width: 900px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/img/footer_bg.png) 0 0 repeat-x;
}
.f-top{
	width: 900px;
	height: 54px;
	padding: 40px 0;
	margin: 0 auto;
	overflow: hidden;
}
.login-wrap{
	float: left;
}
.login-wrap p{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 5px;
}
.login-wrap input{
	display: inline-block;
	vertical-align: top;
	width: 134px;
	margin-right: 5px;
	font-size: 13px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
	color: #4d4d4f;
}
.login-wrap input.login-btn{
	height: 23px;
	width: 62px;
	line-height: 21px;
	color: #FFF;
	font-style: normal;
	text-align: center;
	font-style: normal;
	text-shadow: inset 1px 1px 2px #ccc;
	background: url(/img/btn-new.png) 0 -24px no-repeat;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
.login-wrap input.login-btn:hover{
	background: url(/img/btn-new.png) -62px -24px no-repeat;
}
.contacts-wrap{
	float: left;
	margin: 0 30px;
	color: #555;
	font-size: 15px;
}
.contacts-wrap .phone{
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyrRoman', Helvetica, Arial, sans-serif;
}
.contacts-wrap .mail{
	font-family: 'HelveticaNeueCyrRoman', Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
.follow-us-wrap{
	float: left;
}
.vacancy{
	display: block;
	color: #2DB9B4;
	text-decoration: underline;
	font-size: 15px;
	white-space: nowrap;
	margin-bottom: 2px;
}
.follow-us{
	margin-top: 5px;
}
.follow-us a{
	float: left;
	display: block;
	width: 25px;
	height: 25px;
	margin-left: 10px;
	background: url(/img/sprites.png) 0 -1923px no-repeat;
}
.follow-us a:first-child {
	margin-left: 2px;
}
a.fb {
	background-position: 0 -1923px;
}
a.twitter {
	background-position: -30px -1923px;
}
a.youtube {
	background-position: -60px -1923px;
}
a.vk {
	background-position: -90px -1923px;
}
.search-wrap{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}
.search-wrap input{
	width: 120px;
	margin-bottom: 5px;
}
.search-wrap input.search-btn{
	height: 23px;
	width: 62px;
	line-height: 21px;
	margin-left: 5px;
	color: #FFF;
	font-style: normal;
	text-align: center;
	font-style: normal;
	text-shadow: inset 1px 1px 2px #ccc;
	background: url(/img/btn-new.png) 0 -24px no-repeat;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
.search-wrap input.search-btn:hover{
	background: url(/img/btn-new.png) -62px -24px no-repeat;
}
.copyright{
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	font-size: 11px;
}
.sub-footer-toddler{
	width: 100%;
	min-width: 900px;
	background: url(/img/background_contact.jpg) repeat 0 0;
	text-align: center;
	padding: 11px 0;
	height: 12px;
}
.t-pointer{
	display: block;
	height: 12px;
	width: 24px;
	text-align: center;
	text-shadow: 0 0 3px #329996;
	margin: 0 auto;
	cursor: pointer;
}
.t-pointer{
	background: url(/img/arrows_sprite.png) no-repeat 0 -12px;
}
.t-pointer.up{
	background: url(/img/arrows_sprite.png) no-repeat 0 0;
}
.sub-footer-wrap{
	display: none;
	width: 100%;
	min-width: 900px;
	background-color: #EEE;
	box-shadow: #000 0px 4px 15px 0px;
	overflow: hidden;
}
.sub-footer{
	width: 900px;
	margin: 20px auto;
	text-align: center;
}
.f-col{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	text-align: left;
}
.f-col:first-child{
	margin-left: 60px;
}

/*Custom scrollbar*/
.mCSB_container {
	width: auto;
	margin-right: 30px;
	overflow: hidden;
}
.mCSB_container.mCS_no_scrollbar {
	margin-right: 0;
}
.mCustomScrollBox {
	-ms-touch-action: none;
	/*MSPointer events - direct all pointer events to js*/
}
.mCustomScrollBox > .mCSB_scrollTools {
	width: 10px;
	height: 100%;
	top: 0;
	right: 0;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/css/css3pie/PIE.htc);
	background: #7e1e1a;
	/* rgba fallback */

	background: rgba(126, 30, 26, 0.2);
	filter: "alpha(opacity=20)";
	-ms-filter: "alpha(opacity=20)";
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
}
.mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(/css/css3pie/PIE.htc);
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
}

/*Custom textarea scroll*/
.cs-container {
	position: relative;
	border-right: none;
	overflow: visible;
}
.cs-container textarea {
	border: none;
	position: absolute;
	height: 100%;
	width: 100%;
	outline: none;
}
.cs-container .cs-scrollbar {
	width: 17px;
	height: 100%;
	position: relative;
	float: right;
	background: white;
}
.cs-container .cs-scrollbar a {
	display: block;
}
.cs-container .cs-scrollbar .top,
.cs-container .cs-scrollbar .down {
	display: none;
}
.cs-container .cs-scrollbar .cs-slider {
	margin: 0;
	width: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	background: #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 10;
}
.cs-container .cs-scrollbar .bar {
	height: 30%;
	min-height: 16px;
	background: #898989;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	-moz-user-select: none;
}
.custom-select-box-container {
	margin-bottom: 10px;
	height: 30px;
}
.custom-select-box-container .sbHolder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 1px 1px 5px #b6b6b6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #b6b6b6;
	background: white;
	width: 100%;
	padding: 0 10px;
	min-height: 30px;
	padding: 5px 10px;
}
.custom-select-box-container .sbHolder .sbOptions {
	background: white;
}


/*Custom select*/

.sbHolder{
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 200px;
	padding: 0 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
	height: 30px;
	line-height: 30px;
	color: #4d4d4f;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
}
.sbHolder.opened{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.sbToggle{
	position: absolute;
	right: 10px;
	top: 9px;
	width: 8px;
	height: 13px;
	background: url(/img/select_toggle.png) no-repeat 0 0;
}
.sbSelector{
	display: block;
	color: #4D4D4F;
}
.sbOptions{
	position: absolute;
	top: 30px;
	left: 0;
	width: 200px;
	padding: 5px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 5px #B6B6B6;
	-moz-box-shadow: inset 1px 1px 5px #b6b6b6;
	box-shadow: inset 1px 1px 5px #B6B6B6;
	background: #FFF;
}

/*required*/

.required{
	position: relative;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.required:before{
	content: '';
	position: absolute;
	top: 0;
	left: -7px;
	width: 7px;
	height: 6px;
	background: url(/img/asterisk.png) no-repeat 0 0;
}

[class*="span"] {
	float: left;
	min-height: 1px;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.row-fluid .span6 {
	width: 24.25000119999808%;
}
.portfolio img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*portfolio*/

.slider{
	position:relative;
}
.slider .slides .slide {
	overflow:hidden;
	width: 100%;
	display: none;
}
.slider .slides .slide:first-child {
	display: block;
}
.navigation {
	position: absolute;
	top: 250px;
	width: 100%;
}
.navigation .prev,
.navigation .next {
	position: absolute;
}
.navigation .prev.prev,
.navigation .next.prev {
	left: 15%;
}
.navigation .prev.next,
.navigation .next.next {
	right: 15%;
}
.slider .slider-pager {
	position: absolute;
	text-align: center;
	width: 100%;
}
.slider .slider-pager a {
	font-size: 0;
	display: inline-block;
}
.container .p-container{
	width: 900px;
	margin: 0 auto;
}
.top-shadow{
	position: absolute;
	top: -16px;
	right: 0;
	left: 0;
	height: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 40px #333;
	-moz-box-shadow: 0 0 40px #333333;
	box-shadow: 0 0 40px #333;
}
.container .portfolio-container {
	display: none;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #FFF url(/img/body_bg.png) repeat 0 0;
}
.container .portfolio-container .portfolio {
	padding: 0 40px 90px;
}
.container .portfolio-container .portfolio h2 {
	font-size: 62px;
	font-weight: normal;
	font-family: 'HelveticaNeueCyrUltraLight', Helvetica, Arial, sans-serif;
	color: #D94037;
	margin-bottom: 25px;
}
.container .portfolio-container .portfolio .slider {
	height: 365px;
}
.container .portfolio-container .portfolio .slider .slides {
	height: 100%;
}
.container .portfolio-container .portfolio .slider .slides .slide .row-fluid:first-child {
	margin-bottom: 40px;
}
.container .portfolio-container .portfolio .slider .navigation {
	display: none;
	top: 154.5px;
	height: 56px;
}
.container .portfolio-container .portfolio .slider .navigation .prev,
.container .portfolio-container .portfolio .slider .navigation .next {
	background: url(/img/sprites.png) -156px -458px no-repeat;
	width: 29px;
	height: 56px;
}
.container .portfolio-container .portfolio .slider .navigation .prev.prev,
.container .portfolio-container .portfolio .slider .navigation .next.prev {
	left: -40px;
}
.container .portfolio-container .portfolio .slider .navigation .prev.next,
.container .portfolio-container .portfolio .slider .navigation .next.next {
	right: -40px;
	background-position: -190px -458px;
}
.container .portfolio-container .portfolio .slider .slider-pager {
	bottom: -50px;
}
.container .portfolio-container .portfolio .slider .slider-pager a {
	height: 20px;
	width: 20px;
	margin: 0 3px;
	background: url(/img/sprites.png) -156px -519px no-repeat;
}
.container .portfolio-container .portfolio .slider .slider-pager a.activeSlide {
	background-position: -181px -519px;
}

.portfolio-element {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	background: url(/img/sprites.png) no-repeat;
	border-radius:80px;
	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
	overflow:hidden;
}
.portfolio-element img{
	border-radius:80px;
	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
}
.portfolio-element.web {
	background-position: 0 -933px;
}
.portfolio-element.video {
	background-position: 0 -1098px;
}
.portfolio-element.mobile {
	background-position: 0 -1263px;
}
.portfolio-element.smm {
	background-position: 0 -1428px;
}
.portfolio-element.seo {
	background-position: 0 -1593px;
}
.portfolio-element.design {
	background-position: 0 -1593px;
}
.portfolio-element .mask {
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(/img/sprites.png) 0 -1758px no-repeat;
}
.portfolio-element img {
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio-element .title-container {
	display: table;
	height: 100%;
}
.portfolio-element .title-container .title {
	vertical-align: middle;
	display: table-cell;
	width: 160px;
	text-align: center;
	font-size: 17px;
	color: #FFF;
}

/*textarea*/


.textarea-wrap{
	width: 500px;
	margin: 15px 0;
	padding: 5px 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-box-shadow: #B6B6B6 1px 1px 5px inset;
	box-shadow: #B6B6B6 1px 1px 5px inset;
	background-color: #FFF;
}

.required-text{
	text-align: right;
	height: 32px;
	line-height: 30px;
	margin-top: 5px;
}

#order{
	overflow: hidden;
}


/*popup*/

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	min-width: 900px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(/img/overlay_bg.png) repeat 0 0;
	z-index: 200;
}
.popup-wrap{
	display: none;
	position: fixed;
	top: 150px;
	left: 0;
	width: 100%;
	z-index: 300;
}
.popup{
	width: 660px;
	margin: 0 auto;
	background: -webkit-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -moz-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -ms-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	background: -o-linear-gradient(top, #EDEDED 0%,#D7D7D7 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#D7D7D7');
	-webkit-box-shadow: 0px 0px 30px 0px #000;
	-moz-box-shadow: 0px 0px 30px 0px #000;
	-ms-box-shadow: 0px 0px 30px 0px #000;
	-o-box-shadow: 0px 0px 30px 0px #000;
	box-shadow: 0px 0px 30px 0px #000;
}
.popup form{
	padding: 40px 60px;
}
.popup h3{
	font-size: 35px;
	font-weight: normal;
	color: #33B3AB;
	text-align: center;
	margin: 0 0 40px;
}
.popup .required:before{
	background-image: url(/img/asterisk_g.png);
}
.popup input[type="text"]{
	height: 30px;
	padding: 0 15px;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
	color: #4C4C4E;
}
.popup textarea{
	height: 56px;
	padding: 0;
	resize: none;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
	color: #4C4C4E;
}
.popup .textarea-wrap{
	margin: 0;
	width: auto;
}
.popup .required-text{
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLightItalic', Helvetica, Arial, sans-serif;
}
.popup .submit-btn-wrap{
	text-align: center;
}
.popup .submit-btn-wrap input{
	background: url(/img/sprites.png) no-repeat 0 -31px;
	margin-top: 10px;
	background-position: 15px -3465px;
	height: 48px;
	width: 171px;
	line-height: 41px;
	font-size: 17px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	color: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.popup .submit-btn-wrap input:hover{
	background-position: 15px -3515px;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url(/img/calendar/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828 url(/img/calendar/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6 url(/img/calendar/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url(/img/calendar/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #c77405;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #fbd850;
	background: #ffffff url(/img/calendar/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url(/img/calendar/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url(/img/calendar/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(/img/calendar/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(/img/calendar/ui-icons_ffffff_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(/img/calendar/ui-icons_ef8c08_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(/img/calendar/ui-icons_ef8c08_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(/img/calendar/ui-icons_ef8c08_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(/img/calendar/ui-icons_228ef1_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(/img/calendar/ui-icons_ffd27a_256x240.png);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #666666 url(/img/calendar/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url(/img/calendar/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px;
}
.sub-title{
	margin-bottom: 10px;
}
.f-col a{
	color: #283617;
}