/**
 *
 *	Projects page styles
 *
 */

.sub-menu-wrap{
	width: 100%;
	margin: 50px 0 30px;
	text-align: center;
}
.sub-menu-wrap li{
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	text-align: center;
}
.sub-menu-wrap li a{
	line-height: 24px;
	font-size: 24px;
	color: #393838;
	font-weight: normal;
}
.sub-menu-wrap li.active a{
	font-family: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.sub-menu-wrap li a:hover{
	font-family: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.proj-block h1{
	font-size: 35px;
	font-weight: normal;
	margin: 30px 0 20px;
}
.proj-block .projects-text{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
	width: 550px;
}
.hide-btn{
	font-size: 17px;
	text-decoration: underline;
	color: #34b4ac;
	cursor: pointer;
}
.hide-btn-wrap{
	height: 20px;
}
.proj-block .projects {
	overflow: hidden;
	margin: 0 -30px 30px;
	min-height: 200px;
}
.proj-block .projects .element {
	float: left;
	margin:20px 40px;
	position: relative;
	z-index: 2;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.portfolio-element {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	background: url(/img/sprites.png) no-repeat;
	border-radius:80px;
	overflow:hidden;
}
.portfolio-element.web {
	background-position: 0 -933px;
}
.portfolio-element.video {
	background-position: 0 -1098px;
}
.portfolio-element.mobile {
	background-position: 0 -1263px;
}
.portfolio-element.smm {
	background-position: 0 -1428px;
}
.portfolio-element.seo {
	background-position: 0 -1593px;
}
.portfolio-element.design {
	background-position: 0 -1593px;
}
.portfolio-element .mask {
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(/img/sprites.png) 0 -1758px no-repeat;
}
.portfolio-element img {
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio-element .title-container {
	display: table;
	height: 100%;
}
.portfolio-element .title-container .title {
	vertical-align: middle;
	display: table-cell;
	width: 160px;
	text-align: center;
	color: white;
	font-size: 17px;
	font-family: 'helveticaneuecyrultralight', Arial, sans-serif;
}