/**
 *
 *	Projects page styles
 *
 */

#projects{
	display: none;
}
#p-web{
	background-color: #C12E26;
}
#p-mobile{
	background-color: #6A3971;
}
#p-video{
	background-color: #309F41;
}
#p-seo{
	background-color: #EB8D1C;
}
#p-smm{
	background-color: #0072AE;
}
#projects > div{
	display: none;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.content-wrap{
	position: relative;
	z-index: 2;
}
.nav-wrap{
	position: fixed;
	width: 100%;
	top: 118px;
	left: 26px;
	z-index: 10;
}
.nav-btns{
	position: relative;
	width: 900px;
	margin: 0 auto;
}
.prev-p{
	position: absolute;
	top: 100px;
	left: -60px;
	width: 40px;
	height: 40px;
	background: url(/img/sprites.png) -156px -413px no-repeat;
	z-index: 1000;
}
.next-p{
	position: absolute;
	top: 100px;
	right: -20px;
	width: 40px;
	height: 40px;
	background: url(/img/sprites.png) -201px -413px no-repeat;
	z-index: 1000;
}
.close_but_anchor{
	float: right;
	margin-right: -20px;
}
.close_but{
	background: url(/img/sprites.png) no-repeat scroll -194px -569px rgba(0, 0, 0, 0);
	border: medium none;
	cursor: pointer;
	height: 40px;
	margin: 0 0 0 auto;
	width: 40px;
	opacity: 0.6;
}
.close_but:hover{
	background: url(/img/sprites.png) no-repeat scroll -149px -569px rgba(0, 0, 0, 0);
}
.slide-wrap{
	position: relative;
	overflow: hidden;
}
.project-item{
	float: left;
}
.bg{
	background: url(/img/page_project_bg_70percent_transp.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0.9);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.project-block h1{
	font-size: 35px;
	font-weight: normal;
	padding: 30px 0 20px;
	margin: 0 0 0 20px;
	color: #FFF;
}
.site-url{
	margin: 30px 0 20px 100px;
}
.site-url a{
	font-size: 15px;
	color: #FFF;
	text-decoration: underline;
}
.project-block h4{
	font-size: 17px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #FFF;
}
.project-block p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
	color: #FFF;
}
.p-slide-item img{
	width: 900px;
}
.p-description{
	margin: 0 0 40px 20px;
}
.p-left{
	float: left;
	width: 385px;
	margin-right: 30px;
}
.p-right{
	float: left;
	width: 435px;
}
.p-right p{
	margin-bottom: 2px;
}
.p-right p span{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
}
.p-right .follow-us{
	margin-top: 25px;
}
.p-right .fb{
	background-position: 0 -1953px;
}
.p-right .twitter{
	background-position: -30px -1953px;
}
.p-right .youtube {
	background-position: -60px -1953px;
}
.p-right .vk{
	background-position: -90px -1953px;
}
.ad-block-wrap{
	position: relative;
	width: 100%;
	background-color: #FFF;
	z-index: 2;
}
.ad-block{
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}
.ad-paper-wrap, .ad-present-wrap{
	float: left;
	text-align: center;
}
.ad-pic{
	display: table-cell;
	height: 250px;
	width: 430px;
	vertical-align: middle;
}
.ad-text{
	font-size: 25px;
	font-weight: normal;
	color: #0078bf;
	cursor: pointer;
}

.feedback-box {
	padding: 20px 0 30px;
	margin-left: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	width: 897.0015999999999px;
	transition: all 0.1s linear;
	color: #FFF;
	overflow: hidden;
}
.feedback-box h2{
	font-size: 25px;
	font-weight: normal;
}
.pers-info-wrap{
	float: left;
}
.pers-info{
	height: 142px;
}
.photo{
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}
.data{
	display: inline-block;
	vertical-align: bottom;
}
.client-name{
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-Medium', Helvetica, Arial, sans-serif;
}
.client-position, .client-company{
	font-size: 13px;
	font-family: 'HelveticaNeueCyr-ThinItalic', Helvetica, Arial, sans-serif;
}
.description{
	font-size: 15px;
	margin: 0 30px 20px 320px;
}
.feedback-btn{
	text-align: center;
}
.feedback-btn a{
	font-size: 15px;
	text-decoration: underline;
	color: #FFF;
}
.sub-menu-wrap{
	width: 100%;
	margin: 50px 0 30px;
	text-align: center;
}
.sub-menu-wrap li{
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
	text-align: center;
}
.sub-menu-wrap li a{
	line-height: 24px;
	font-size: 24px;
	color: #393838;
	font-weight: normal;
}
.sub-menu-wrap li.active a{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.sub-menu-wrap li a:hover{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.proj-block h1{
	font-size: 35px;
	font-weight: normal;
	margin: 30px 0 20px;
}
.proj-block .projects-text{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
	width: 550px;
}
.hide-btn{
	font-size: 17px;
	text-decoration: underline;
	color: #34b4ac;
	cursor: pointer;
}
.hide-btn-wrap{
	height: 20px;
}
.proj-block .projects {
	overflow: hidden;
	margin: 0 -30px 30px;
	min-height: 200px;
}
.proj-block .projects .element {
	float: left;
	margin:20px 40px;
	position: relative;
	z-index: 2;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.portfolio-element {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	background: url(/img/sprites.png) no-repeat;
	border-radius:80px;
	overflow:hidden;
}
.portfolio-element.web {
	background-position: 0 -933px;
}
.portfolio-element.video {
	background-position: 0 -1098px;
}
.portfolio-element.mobile {
	background-position: 0 -1263px;
}
.portfolio-element.smm {
	background-position: 0 -1428px;
}
.portfolio-element.seo {
	background-position: 0 -1593px;
}
.portfolio-element.design {
	background-position: 0 -1593px;
}
.portfolio-element .mask {
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: url(/img/sprites.png) 0 -1758px no-repeat;
}
.portfolio-element img {
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio-element .title-container {
	display: table;
	height: 100%;
}
.portfolio-element .title-container .title {
	vertical-align: middle;
	display: table-cell;
	width: 160px;
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: 'HelveticaNeueCyrLight', Helvetica, Arial, sans-serif;
}

.seo-box, .smm-box{
	display: none;
}
.client-box {
	position: relative;
}
.client-box * {
	color: #393838;
}
.client-box .logo-container {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	width: 300px;
	text-align: center;
	overflow: hidden;
	line-height: 145px;
}
.client-box .description {
	margin-left: 300px;
}
.client-box h2 {
	font-size: 25px;
	margin-bottom: 5px;
}
.client-box p {
	font-size: 13px;
	margin-bottom: 5px;
}
.client-box a {
	text-decoration: underline;
	font-size: 15px;
}
.logo-container img{
	vertical-align: middle;
}

.hovered-box {
	padding: 20px 0 30px;
	margin-bottom: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	width: 897.0015999999999px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.hovered-box:hover {
	background: #b7d7d5;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 3px #d7d7d7;
	-moz-box-shadow: 3px 3px 3px #d7d7d7;
	-ms-box-shadow: 3px 3px 3px #d7d7d7;
	-o-box-shadow: 3px 3px 3px #d7d7d7;
	box-shadow: 3px 3px 3px #d7d7d7;
}