/**
 *
 *	Vacancies page styles
 *
 */

.sub-menu-wrap{
	width: 100%;
	margin: 50px 0 30px;
	text-align: center;
}
.sub-menu-wrap li{
	display: inline-block;
	vertical-align: top;
	padding: 0 12px;
	text-align: center;
}
.sub-menu-wrap li a{
	line-height: 18px;
	font-size: 18px;
	color: #393838;
	font-weight: normal;
	text-transform: uppercase;
}
.sub-menu-wrap li.selected a{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}
.sub-menu-wrap li a:hover{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
	color: #34B4AC;
}

.about-block{
	margin-bottom: 60px;
}
.about-block h1{
	font-size: 35px;
	font-weight: normal;
	margin: 30px 0 20px;
}
.about-block h3{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
}
.about-block h4{
	font-size: 15px;
	font-weight: normal;
}
.list-title h4{
	margin-bottom: 10px;
}
.about-block p{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px;
}
.about-block li{
	line-height: 20px;
}
.medium{
	font-family: 'HelveticaNeueCyrMedium', Helvetica, Arial, sans-serif;
}
.list-title, .vacancies-list{
	margin-bottom: 15px;
	font-size: 15px;
}
.vacancies-list li a{
	color: #2db9b4;
	text-decoration: underline;
	cursor: pointer;
}
.list-item{
	display: none;
	margin-left: 10px;
}
.marker li{
	position: relative;
	padding-left: 20px;
	min-height: 20px;
	line-height: 20px;
	margin-left: 10px;
}
.marker li:before{
	content: '—';
	position: absolute;
	top: 0;
	left: 0;
	min-height: 20px;
	line-height: 20px;
}
.schedule{
	margin-left: 10px;
}
